.page-wrapper {
  height: 800px;
  margin: 0 auto;
  width: 500px;
  /* background: red; */
}

.page-contents {
  text-align: center;
  border: 1px solid #c0c0c05e;
  margin-top: 40px;
  padding-bottom: 20px;
}

.page-contents h2 {
  background-color: #c0c0c05e;
  border-bottom: 1px solid #c0c0c05e;
  margin-top: 0;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.708);
}

.id {
  padding: 4px;
}

.pass {
  padding: 4px;
}

.login-box {
  background-color: rgba(17, 17, 213, 0.8);
  border-radius: 10px;
  color: white;
  border-style: none;
  display: block;
  padding: 4px;
}

.login-box:hover {
  background-color: rgba(17, 17, 213, 0.6);
  cursor: pointer;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
  gap: 20px;
}
