.page-wrapper {
  height: 800px;
  margin: 0 auto;
  width: 500px;
  /* background: red; */
}

.page-contents {
  text-align: center;
  border: 1px solid #c0c0c05e;
  margin-top: 40px;
  padding-bottom: 20px;
}

.page-contents h2 {
  background-color: #c0c0c05e;
  border-bottom: 1px solid #c0c0c05e;
  margin-top: 0;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.708);
}

.login-box {
  background-color: rgba(5, 5, 197, 0.82);
  color: white;
  border-style: none;
  display: block;
  padding: 100 0;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
  gap: 20px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
